/* css/about.css - Styles for the about page */
.about-section {
  padding: 40px 0;
}
.about-section h1 {
  font-size: 2em;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.about-section h2 {
    font-size: 1.5em;
    color: lightblack;
    margin-bottom: 15px;
    text-align: center;
}

.about-section p {
    font-size: 1.1em;
    color: lightblack;
    line-height: 1.6;
    text-align: justify;
}