/* css/style.css - Common styles for all pages */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

nav {
    background-color: #f0f0f0;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
   text-decoration: underline;
   color: darkblue;
}

img{
    max-width: 100%;
    height: auto;
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-links a{
    text-decoration: none;
}

.social-links img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}